<div style="background-color:#333">

    <a href="/" style="text-decoration:none;">
        <h1 class="display-4 text-center text-white m-0">{{ site.title }}</h1>
    </a>

    <div>
        {% include social.html %}
    </div>

    <nav class="navbar navbar-expand-sm justify-content-center sticky-top navbar-dark mb-4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Newest</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/recipe">By Category</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/recipe">All Categories</a>
                    {% assign sorted_categories = site.categories | sort %}
                    {% for category in sorted_categories %}
                    <a class="dropdown-item" href="/recipe/{{ category[0] | cgi_escape | escape }}">{{ category[0] | capitalize }}</a>
                    {% endfor %}
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/recipe">By Tag</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All Tags</a>
                </div>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Articles</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </nav>
</div>